spring.application.name=WifakBankProject

# Active profile
spring.profiles.active=dev

# Oracle DataSource
spring.datasource.url=jdbc:oracle:thin:@YOUR_DB_HOST:1521/YOUR_DB_SERVICE?useUnicode=true&characterEncoding=UTF-8
spring.datasource.username=YOUR_DB_USERNAME
spring.datasource.password=YOUR_DB_PASSWORD
spring.datasource.driver-class-name=oracle.jdbc.OracleDriver

# JPA / Hibernate
spring.jpa.database-platform=org.hibernate.dialect.OracleDialect
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.connection.CharSet=UTF-8
spring.jpa.properties.hibernate.connection.useUnicode=true
spring.jpa.properties.hibernate.connection.characterEncoding=UTF-8

# Run data.sql AFTER Hibernate has created/updated tables
spring.sql.init.mode=always
spring.sql.init.data-locations=classpath:data.sql
spring.jpa.defer-datasource-initialization=true
spring.sql.init.encoding=UTF-8

# Server encoding
server.servlet.encoding.charset=UTF-8
server.servlet.encoding.enabled=true
server.servlet.encoding.force=true

# Embedded LDAP
spring.ldap.embedded.base-dn=dc=example,dc=com
spring.ldap.embedded.ldif=classpath:test-users.ldif
spring.ldap.embedded.port=8389

# AD / LDAP connection
app.ad.domain=YOUR_AD_DOMAIN
app.ad.url=ldap://YOUR_AD_HOST:YOUR_AD_PORT/

# JWT
app.jwt.secret=YOUR_JWT_SECRET
app.jwt.expiration-ms=86400000

# CORS
app.cors.allowed-origins=http://localhost:4200

# Server
server.port=8080

# Mail / SMTP
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=YOUR_SMTP_USERNAME
spring.mail.password=YOUR_SMTP_PASSWORD
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
spring.mail.properties.mail.smtp.starttls.required=true
